
body{
     background-color:#93d1fa;
}
.container{
    width: 450px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);    
    border: 2px solid rgba(255, 255, 255, 0.6);
    padding: 40px;
    border-radius: 10px;

}

.container h1{
    text-align: center;
    font-size: 30px;
    color: #003785;
}

.container .input-field{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px auto;
}

.input-field input{
   width: 100%;
   height: 100%;
   background-color: transparent;
   outline: none;
   border: 2px solid rgba(255, 255, 255, 0.6);
   border-radius: 40px;
   font-size: 16px;
   color: #020202;
   padding: 20px 25px;
}

.input-field .Icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #003785;
}

.container .recall-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin:-15px 0 15px
}

.recall-forget label{
    color:#003785;
}

.recall-forget input{
    margin-right: 5px;
}

.recall-forget a, .signup-link p a{
    color:  #003785;
    text-decoration: none;
}

.recall-forget a:hover, .signup-link p a:hover{
    text-decoration: underline;
}

.container button{
    width:100% ;
    height: 50px;
    background-color: #93d1fa;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight:600;
}

.container .signup-link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 10px;
}
